= will_paginate @problems, class: "pagination pagination-centered"

%table.table.table-hover
  %thead
    %tr
      %th #
      %td Title
      - Language.each do |l|
        %td= l.name
  %tbody
    - @problems.each do |p|
      %tr
        %td= p.id
        %td= link_to p.title, problem_path(p)
        - Language.each do |l|
          %td= solution_summary p, l

= will_paginate @problems, class: "pagination pagination-centered"
