%h2= link_to(@problem.title, @problem.url, :target => '_blank')
%div
  = @problem.prompt.html_safe

%h4 Solutions
%table
  %thead
    %tr
      %th Language
      %th Answer
      %th Run Time
  %tbody
    - @problem.solutions.each do |s|
      %tr
        %td= link_to(s.language, User.editor_url(s.path))
        %td= s.answer
        %td= s.runtime
  