%h3
  = "#{@problem.id}."
  = link_to(@problem.title, @problem.url, :target => '_blank')

.well
  = @problem.prompt.html_safe

%h4 Solutions
%table.table.table-hover
  %thead
    %tr
      %th Language
      %th Answer
      %th Run Time
  %tbody
    - @problem.solutions.each do |s|
      %tr
        %td= link_to(s.language, problem_solution_path(@problem, s))
        %td= s.answer
        %td= speed_info s
  